html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap{
	font-family: Noto Sans CJK TC Regular;
	}

.header{
	height: 60px;
	background-color: black;
}

.header h1{
	color: orange;
	float: left;
	font-size: 40px;
	margin: 5px 20px;
}

.header ul li{
 	position: relative;	
	font-size: 20px;
	float:right;
}

.header a{
	margin:20px 20px 0px 20px;
	text-decoration: none;
	color: white;
	height: 30px;
	display: block;
}

.header a:hover{
	color: orange;
}

.header ul ul {
	background-color: black;
	color:white;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    }

.header ul ul { /*隱藏次選單*/
    display: none;
    }

.header ul li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
    }

.clear{
	clear: both
}

img{
	width: 1360px;
	position: relative;
}

.content{
	position: absolute;
	background: rgba(0%,0%,0%,0.5);
	width: 1000px;
	height: 890px;
	margin: 7px auto;
	left: 180px;
	top: 60px;
}

.list{
	text-align: center;
	padding: 15px 0;
	position: fixed;
	width: 150px;
	height: 170px;
	margin:20px 25px;
	background-color: black;
	border-radius: 10px;
}

.list h2{
	border-right: 1px solid orange;
}

.list li{
	font-size: 20px;
	margin: 25px auto;
}

.list a{
	width: 100px;
	text-decoration: none;
	color: white;
}

.list a:hover{
	color: orange;
}

.store-pic{
	float: right;
}

.store-pic div{
	width: 300px;
	height: 200px;
	margin: 20px 0 95px 0;
}

.store-pic img{
	width: 100%;
}

.store{
	float:right;
}

.store div {
	width: auto;
	height: 200px;
	padding: 16px 10px;
	margin:10px 35px 60px 20px;
	}

.content h2{
	font-size: 28px;
	color: orange;
	display: inline;
	padding: 0 5px;
	border-left: 1px solid orange;
}

.content p{
	font-size: 20px;
	margin-top: 9px;
	color: white;
	padding: 0 5px;
	border-left: 1px solid white;
}

#time{
	border:none;
}

.footer{
	color:white;
	background-color: black;
	height: 60px;
	padding: 5px 0 5px 13%;
}